* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}

body {
    font-family: 'Yusei Magic', sans-serif;
}

html, body {
    overflow-x:hidden;
  } 

body::-webkit-scrollbar {
    display: none;
  }

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: 100%;
  }
  

/* ------------------- PHOTO CAROUSEL ---------------- */

.carousel-container {
    height: 100vh;
    width: 100vw;
}

.carousel {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
    height: 77.5vh;
    width: calc(93% - 10px);
    margin: .75em auto;
    position: relative;
    overflow: hidden;
}

@media (max-width: 850px) {
    .carousel{
    height: calc(77.5vh - 56px);
    }

    .carousel-container {
        height: calc(100vh - 56px);
    }
}

.image-container {
    display: flex;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    transition: transform 750ms ease-in-out;
    -webkit-transition: transform 750ms ease-in-out;
    height: 100%;
}

.pics {
    position: relative;
    height: 100%;
    min-width: 100%;
    z-index: 3;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.pics:nth-last-child(6) {
    background-image: url(https://images.unsplash.com/photo-1508945620753-e2344dfbda6b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
}
.pics:nth-last-child(5) {
    background-image: url(https://images.unsplash.com/photo-1531502774286-5e4e8e94879f?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=750&q=80);
}
.pics:nth-last-child(4) {
    background-image: url(https://images.unsplash.com/photo-1596405226562-98ba0a2b3578?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
}
.pics:nth-last-child(3) {
    background-image: url(https://images.unsplash.com/photo-1523317937298-b83ffd7a5178?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=);
}
.pics:nth-last-child(2) {
    background-image: url(https://images.unsplash.com/photo-1485965120184-e220f721d03e?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=750&q=80);
}
.pics:nth-last-child(1) {
    background-image: url(https://images.unsplash.com/photo-1501147830916-ce44a6359892?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
}


.btns-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

button {
    padding: .5em 0.5em;
    font-size: 1.5em;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 5px;
    margin: 1.75px;
    text-align: center;
    cursor: pointer;
}

#left:disabled,
    #right:disabled {
    cursor: not-allowed;
}

.img-btn-left {
    position: absolute;
    z-index: 3;
    top: 40%;
    left: 0%;
    text-shadow: 1px 1px 1px #fff;
}

.img-btn-left:active,
    .img-btn-left:disabled  {
        text-shadow: -1px 1px 1px #000;
        -webkit-transform: translateX(2px);;
        transform: translateX(2px);
        opacity: .5;
}

.img-btn-right {
    position: absolute;
    z-index: 3;
    top: 40%;
    right: 0%;
    text-shadow: -1px 1px 1px #fff;
}

.img-btn-right:active,
    .img-btn-right:disabled {
    text-shadow: -1px 1px 1px #000;
    transform: translateX(2px);
    -webkit-transform: translateX(2px);
    opacity: .5;
}

.carousel-control {
    position: absolute;
    z-index: 3;
    bottom: 0%;
    right: 0%;
    text-shadow: -1px 1px 1px #fff;
    text-align: center;
}

.carousel-control:active {
    text-shadow: -1px 1px 1px #000;
    transform: translateX(1px);
    -webkit-transform: translateX(1px);
    opacity: .5;
}

.pause .fa-pause {
    display: none;
}

.carousel-control .fa-play {
    display: none;
}

.carousel-control.pause .fa-play {
    display: block;
}


/* ----------- HEADER ------------- */

.header-container {
    width: 100vw;
    height: 20vh;
}

header {
    height: 60%;
    width: calc(100% - 15px);
    margin: 0.25em auto;
    border: 1px solid #232323;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dcdcdc;
    position: relative;
    border-radius: 2px;
}

header h1 {
    text-shadow: -2.5px -1px 0px #ef5261;
    font-size: 4em;
    margin: .25em;
}

.logo {
    height:125px;
    width:125px;
    background-image: url(img/logo.png);
    background-size: cover;
    background-position: center;
    z-index: 2;
}

.links-container {
    width: calc(60% - 15px);
    min-height: 45%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    right: -1px;
    top: 100%;
    background-color: #dcdcdc;
    border: 1px solid #232323;
    border-top: none;
    border-radius: 2px;
}

.links-container ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    width: 100%;
    min-height: 100%;
    z-index: 5;
}

.links-container li {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links-container a {
    text-decoration: none;
    margin: 0em 1em;
    color: #232323;
    cursor: pointer;
    font-size: 1.5em;
    height: 100%;
    min-width: 100%;
    text-align: center;
    transition: all ease-in-out 750ms;
    -webkit-transition: all ease-in-out 750ms;
}


.links-container a:hover {
    text-shadow: -1px -.5px 0px #ef5261;
    letter-spacing: .65em;
}

.visit-us-head {
    width: calc(40% - 15px);
    position: absolute;
    left: 15px;
    top: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

@media (max-width: 1400px) {

    header h1{
        font-size: 2.5rem;
    }

    .logo {
        height:75px;
        width:75px; 
    }

    .links-container a {
        font-size: 1em;
    }

    .visit-us-head {
        font-size: 1em;

    }

}

@media (max-width: 800px) {
    .links-container a {
        font-size: .65em;
    }
}


/* --------- VISIT US ----------- */


.visit-us {
    height: 65vh;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

.visit-us p {
    margin-top: .55em;
    font-size: 1em;
}

.contact {
    width: 33.3333%;
    height: 95%;
    margin-left: 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.contact h3 {
    margin-top: 1em;
    font-size: 1.5em;
    text-decoration: underline;
}

.directions {
    background-color: #fff;
    color: #000;
    border: 1px solid #232323;
    min-width: 90%;
    height: 85px;
    cursor: pointer;
    transition: all ease 1000ms;
    -webkit-transition: all ease 1000ms;
    font-size: 1.5em;
    border-radius: 2px;
    margin-top: 1.5em;
}

.directions a {
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0;
}

.directions:hover {
    background-color: #dcdcdc;
}

.directions:hover .fa-compass {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

.fa-compass {
    margin-right: .35em;
    transition: all ease 1000ms;
    -webkit-transition: all ease 1000ms;
    font-size: 1.25em;
}


.call-in {
    background-color: #232323;
    min-width: 90%;
    height: 85px;
    border-radius: 2px;
    margin-top: 2.5em;
}

.call-in a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0;
}

.call-in a {
    color: #fff;
    font-size: 1.25em;
}

.fa-phone {
    transform: rotate(100deg);
    -webkit-transform: rotate(100deg);
    margin-right: .35em;
    transition: all ease 250ms;
    -webkit-transition: all ease 250ms;
    position: relative;
    font-size: 1.25em;
}

.call-in:hover .fa-phone {
    transform: rotate(125deg);
    -webkit-transform: rotate(125deg);
}

.call-in:hover .answer {
    opacity: 1;
}

.answer {
    position: absolute;
    font-size: .75em !important;
    bottom: 77%;
    right: 100%;
    transform: rotate(220deg);
    -webkit-transform: rotate(220deg);
    opacity: 0;
    transition: all ease-out 500ms;
    -webkit-transition: all ease-out 500ms;
}


.office-hours {
    width: 33.3333%;
    height: 95%;
    padding: 1em;
    text-align: center;
    font-size: 1.25em;
}

.caption {
    margin: 0 auto;
    position: relative;
    text-decoration: underline;
}

table {
    width: 100%;
    height: 90%;
    padding: 0;
}

.day.open {
    font-weight: bolder;
    font-size: 1.15em;
}

td:nth-last-of-type(even) {
    text-align: left;
    padding-left: 5px;
}

td:nth-last-of-type(odd) {
    text-align: right;
    padding-right: 5px;
}

.open-sign {
    display: block;
    color: #38A838;
}

.closed-sign {
    display: block;
    color: #ef5261;
}

.opening-soon-sign {
    display: block;
    color: #E7A11F;
}

#map {
    width: 33.3333%;
    height: 95%;
    margin-right: 1em;
    border: 1px solid #232323;
}

@media (max-width: 1200px) {
    .office-hours {
        font-size: .85em;
    }

    .contact h3 {
        font-size: .85em;
    }
}

@media (max-width: 850px) {
    .map {
        display: none;
    }

    .office-hours {
        font-size: .5em;
    }

    .visit-us div {
        width: 50%;
    }

    #map {
        display: none;
    }

    .directions {
        margin-top: 4em;
        font-size: 1em;
        height: 125px;
    }

    .call-in {
        font-size: .8em;
        height: 125px;
    }

    .visit-us p {
        font-size: .75em;
    }

}


/* ----------- SALES BOX ------------ */



.sales {  
    height: 1100px;
    width: 100vw;
}

.sale-box {
    height: 275px;
    width: 100%;
    display: flex;
    transition: transform ease 1000ms;
    -webkit-transition: transform ease 1000ms;
    margin-bottom: -1px;
}

.sale-box:nth-of-type(odd) {
    transform: translateX(-150%);
    -webkit-transform: translateX(-150%);
}
.sale-box:nth-of-type(even) {
    transform: translateX(150%);
    -webkit-transform: translateX(150%);
}

.sale-box.show {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
}

.sale-info {
    border: 1px solid #232323;
    height: 100%;
    min-width: 65%;
}

.sale-pic {
    border: 1px solid #232323;
    height: 100%;
    min-width: 35%;
    overflow: hidden;
}

.sale-pic img {
   padding: 1em;
   height: 275px;
   width: 100%;
   object-fit: contain;
   object-position: center;
}


.sale-box h2 {
    margin: 0 auto;
    width: 200px;
    text-align: center;
}


/* ------------- REPAIRS ----------- */

.repairs {
    width: 100vw;
}

.repairs-info p {
    font-size: .95em;
    font-weight: 0;
    margin: 2em 0;
}

.repairs-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(90% - 15px);
    margin: 1.5em auto;
}

.repairs-info {
    height: calc(95% - 10px);
    width: 100%;
}

.repairs-info-container img {
    width: 500px;
    height: 500px;
    margin-right: 1.5em;
}

.repairs-info ul {
    list-style-type: circle;
    font-weight: none;
    margin-left: 2.5em;
}

.repairs-info li {
    margin-top: .5em;
}

.repairs-info li span {
    font-size: .65em;
    display: block;
}

@media (max-width: 1000px) {

    .repairs-info {
        font-size: .75em;
    }

    .repairs-info-container img {
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 850px) {

    .repairs-info-container {
        flex-direction: column;
        text-align: center;
        justify-content: space-around;
    }

    .repairs-info-container img {
        width: 100%;
        height: 150px;
        margin: 0;
        object-fit: cover;
    }

    .repairs-info {
        font-size: .65em;
        margin: 1.5em 0 0 0;
    }

    .repairs-info li {
        display: inline-block; 
        margin: 1em;
    }

    .repairs-info ul {
        margin-left: 0;
        font-size: .75em;
    }

}

.tune-h1 {
    margin: 1.25em auto;
    text-align: center;
}

.tune-up-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 90vh;
}

.tune-up {
    height: 90vh;
    width: 23%;
    text-align: center;
    border: 1px solid #232323;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.5);
    border-radius: 3px;
}

.tune-up-type {
    background-color: #232323;
    color: #fff;
    text-shadow: 1px 1px 1px #ef5261;
    width: 100%;
    height: 20%;
    display: flex; 
    align-items: center;
    justify-content: center;
    border-radius: 2px 2px 0 0;
}

.tune-up-price {
    background-color: #adadad;
    color: #232323;
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.repair-sale {
    position: relative;
    width: 100px;
    margin: 0 auto;
}

.repair-sale span {
    margin: 10px;
    color: #ef5261;
    text-shadow: 0 0 2px #232323;
}

.repair-sale::after {
    content: '';
    height: 3px;
    width: 45%;
    top: 50%;
    left: -1%;
    position: absolute;
    background-color: #ef5261;
}

.tune-up-specs {
    background-color: #dcdcdc;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 60%;
    align-items: center;
    width: 100%;
}

.not-included {
    background-color: #adadad;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 2px 2px;
}

.additional-repairs {
    width: 100vw;
    margin-top: 2.5em;
}

.additional-repairs h1 {
    margin: 1em auto;
    width: 350px;
}

.repair-tables {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}

.table-one,
    .table-two {
    width: 50%;
    border-collapse: collapse;
    margin: 1em;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

.table-one tr:nth-of-type(odd),
    .table-two tr:nth-of-type(odd) {
    background-color: #dcdcdc;
    height: 50px;
}

.table-one tr:nth-of-type(even), 
    .table-two tr:nth-of-type(even) {
    height: 50px;
    background-color: #adadad;
}

@media (max-width: 1000px) {

    .tune-up {
        font-size: .75em
    }
}

@media (max-width: 850px) {

    .tune-h1 {
        margin-top: 0;
    }

    .repair-sale::after {
        height: 1.5px;
    }

    .repair-tables {
        flex-direction: column;
        width: 95%;
        margin: 0 auto;
    }

    .table-one, 
        .table-two {
        font-size: .85em;
        width: 100%;
    }

    .additional-repairs h1 {
        width: 100%;
        text-align: center;
    }

    .tune-up-specs {
        font-size: .75em;
    }

    .not-included {
        font-size: .75em;
    }
}
/* ------------ APPS ------------ */

.biking-apps {
    height: 65vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.bike-lanes {
    height: 95%;
    width: 40%;
    text-align: center;
}

#bike-map {
    width: 100%;
    height: 90%;
    border: 1px solid #232323;
}

.bike-weather {
    height: 95%;
    width: 40%;
    text-align: center;
}

hr {
    color: #232323;
}

.weather-container {
    margin-top: 1.5em;
    position: relative;
    height: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#weather-icon {
    height: 65px;
    width: 65px;
}

.weather-icon {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#temp-feels {
   font-size: .75em;
}

#max-temp {
    width: 30%;
}

#min-temp {
    width: 30%;
}

.max-min-temp {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 20%;
}

.temp-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 45%;
}

#temp {
    font-size: 1.5em;
}

.bottom-weather {
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 850px) {
    
    .biking-apps {
        flex-direction: column;
        height: 150vh;
    }
    
    .bike-lanes {
        width: 75%;
        margin: 1em auto;
    }
    
    .bike-weather {
        width: 75%;
        margin: 1em auto;
    }
}

/* ------ FOOTER -------- */ 

footer {
    height: 45vh;
    width: 100vw;
    background-color: #dcdcdc;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid #232323;
}

footer div {
    width: 25%;
    height: 90%;
}

.footer-contact {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.footer-contact h3 {
    height: 25%;
    justify-content: center;
}

.footer-contact address {
    height: 25%;
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
}

.footer-contact p:first-of-type {
    text-decoration: underline;
}

.footer-call-in {
    width: 100%;
    text-align: left;
    margin-left: 0;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.footer-directions {
    width: 100%;
    text-align: left;
    margin-left: 0;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.mailing-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    position: relative;
}

.mailing-list form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.mailing-list button {
    border-radius: 2px;
    transition: all ease-in-out 250ms;
    -webkit-transition: all ease-in-out 250ms;
}

.mailing-list button:hover {
    box-shadow: 0px 1px 5px 1px #232323;
}

.mailing-list button:active {
    transform: scale(.98);
    -webkit-transform: scale(.98);
}

.email-list {
    font-size: 1em;
    width: 100%;
    margin: 10px;
    border-radius: 2px;
    outline: none;
    border-bottom: 2px solid #232323;
    border-top: solid 2px #dcdcdc;;
    border-left: solid 2px #dcdcdc;;
    border-right: solid 2px #dcdcdc;;
    box-shadow: 0px 1px .5px #ef5261;
    background-color: transparent;
    text-align: center;
}

.email-list:focus {
    outline: none;
}

.fa-envelope {
    margin: 0 10px;
}

.footer-links {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: right;
}

.footer-links li {
    width: 100%;
    text-align: right;
    font-size: 1.25em;
}

.footer-links li a {
    transition: all ease-in-out 750ms;
    -webkit-transition: all ease-in-out 750ms;
}

.footer-links li a:hover {
        text-shadow: -1px -.5px 0px #ef5261;
        letter-spacing: .25em;
}

@media (max-width: 850px) {
    footer {
        font-size: .75em;
        height:40vh;
    }

    .email-list {
        font-size: .75em;
    }
}